.navbar-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.navbar-logo {
  margin: 0;
  padding: 0;
}
.navbar-links ul {
  height: 100%;
  justify-content: center;
  display: flex;
  list-style: none;
}
.navbar-links li {
  padding-left: 1rem;
  padding-right: 1rem;
}
